/*Элементы формы*/
.checkbox-off {
	background: url("../img/sprite.svg") 1.877% 1.866% no-repeat;
}

.checkbox-on {
	background: url("../img/sprite.svg") 5.511% 5.443% no-repeat;
}

.filter-slide-button {
	background: url("../img/sprite.svg") 24.610% 25.505% no-repeat;
}

.popup-close-button {
	background: url("../img/sprite.svg") 40.952% 42.744% no-repeat;
}

.radio-off {
	background: url("../img/sprite.svg") 74.725% 74.570% no-repeat;
}

.radio-on {
	background: url("../img/sprite.svg") 78.649% 78.471% no-repeat;
}

.slider-promo-radio-on {
	background: url("../img/sprite.svg") 84.820% 84.603% no-repeat;
}

.slider-promo-radio-off {
	background: url("../img/sprite.svg") 88.419% 88.180% no-repeat;
}


/*Популярные товары*/
.popular-item-virtual-reality {
  background: url("../img/sprite.svg") 49.206% 50.319% no-repeat;
}

.popular-item-monopods-for-selfie {
  background: url("../img/sprite.svg") 53.564% 54.416% no-repeat;
}

.popular-item-action-cameras {
  background: url("../img/sprite.svg") 57.557% 59.463% no-repeat;
}

.popular-item-fitness-bracelets {
  background: url("../img/sprite.svg") 62.380% 63.257% no-repeat;
}

.popular-item-smart-watch {
  background: url("../img/sprite.svg") 66.023% 67.665% no-repeat;
}

.popular-item-quadrocopter {
  background: url("../img/sprite.svg") 70.476% 71.002% no-repeat;
}


/*Иконки соц. сетей */
.twitter-icon {
	background: url("../img/sprite.svg") 93.333% 93.059% no-repeat;
}

.instagram-logo {
  background: url("../img/sprite.svg") 31.746% 32.649% no-repeat;
}

.fb-icon {
  background: url("../img/sprite.svg") 20% 20.820% no-repeat;
}

.logo-htmlacademy {
  background: url("../img/sprite.svg") 36.437% 37.697% no-repeat;
}


/*Служебные иконки*/
.user-icon {
	background: url("../img/sprite.svg") 95.531% 95.107% no-repeat;
}

.search-icon {
  background: url("../img/sprite.svg") 81.424% 81.230% no-repeat;
}

.cart-icon {
  background: url("../img/sprite.svg") 0 0 no-repeat;
}

.compare-icon {
  background: url("../img/sprite.svg") 9.509% 8.841% no-repeat;
}

.breadcrumbs-arrow {
  background: url("../img/sprite.svg") 44.072% 45.978% no-repeat;
}

.plus-icon {
  background: url("../img/sprite.svg") 45.510% 47.692% no-repeat;
}

.icon-arrow-down {
  background: url("../img/sprite.svg") 27.342% 28.506% no-repeat;
}

.icon-arrow-up {
  background: url("../img/sprite.svg") 29.032% 30.030% no-repeat;
}

/*Слайдер доставки*/
.warranty-image {
	background: url("../img/sprite.svg") 99.851% 100% no-repeat;
}
.credit-image {
  background: url("../img/sprite.svg") 11.330% 10.725% no-repeat;
}

.delivery-image {
  background: url("../img/sprite.svg") 15.579% 15.772% no-repeat;
}
