@charset "utf-8";

/*Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff2');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Обертка всех страниц*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
  font-family: "Open sans", "Arial", sans-serif;
  color: #000000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.delivery .wrapper-content {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
}

.footer .wrapper-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
}

/*Сокрытие элементов сайта*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Сброс своист у всех ul что есть в разметке*/
.breadcrumbs,
.catalog-products__items,
.catalog-products__sort,
.catalog-pagination,
.header-users-authorization,
.header-users-product,
.header-navigation__list,
.header-navigation__sub-list,
.products-list,
.about-us__list,
.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Блок header в index.html и catalog.html*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 1160px;
  min-height: 224px;
  background-image: linear-gradient(transparent 40px, #f7e296 40px);
}

.header__logo {
  width: 164px;
  height: 36px;
  align-self: flex-start;
  background: url("../img/logo-header.png") no-repeat;
  margin-left: 60px;
  margin-top: 21px;
  margin-bottom: 9px;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.header-users-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  min-height: 48px;
  margin-bottom: 39px;
  position: relative;
}

.header-navigation {
  width: 1160px;
}

.header-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
}

.header-navigation__item {
  position: relative;
  width: 210px;
  min-height: 12px;
}

.header-navigation__item:first-child .header-navigation__link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 230px;
  background: url("../img/svg-images/plus.svg");
  opacity: 0.3;
}

.header-search-form {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.header-search-form__button {
  display: none;
  width: 84px;
  height: 48px;
  border: 2px solid black;
  background-color: inherit;
  color: black;
}
.header-search-form__button:hover {
  background-color: #000000;
  color: #ffffff;
}
.header-search-form__button:active{
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.header-search-form__input {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  width: 316px;
  height: 30px;
  background-color: inherit;
  margin-left: 100px;
  padding: 0;
  border: none;
}

.header-search-form__input:focus + .header-search-form__button
{
  display: block;
}

.header-search-form__input:focus {
  border-bottom: 2px solid black;
}

.header-search-form::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 3px;
  left: 63px;
  background: url("../img/svg-images/search-icon.svg") no-repeat;
}

.header-search-form__button::after  {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  left: 60px;
  background-color: #000000;
}


.header-users-authorization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 254px;
  position: relative;
}

.header-users-authorization__item {
  position: relative;
}

.header-users-authorization__item:first-child .header-users-authorization__link::after {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  bottom: 10px;
  left: -6px;
  background: url("../img/svg-images/user-icon.svg") no-repeat;
}

.header-users-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
}

.header-users-product__item {
  width: 150px;
  position: relative;
}

.header-users-product__item:nth-child(1) .header-users-product__link {
  margin-left: 47px;
}

.header-users-product__item:nth-child(2) .header-users-product__link {
  margin-left: 30px;
}

.header-users-product__item:first-child .header-users-product__link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 27px;
  width: 10px;
  height: 10px;
  background: url("../img/svg-images/compare.svg");
}

.header-users-product__item:last-child .header-users-product__link::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 13px;
  height: 14px;
  background: url("../img/svg-images/cart.svg") no-repeat;

}

.header-users-product__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
}

.header-users-authorization__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  margin-left: 21px;
  margin-bottom: 15px;
}

.header-navigation__item:first-child {
  width: 225px;
  margin-left: 60px;
  margin-right: 250px;
}

.header-navigation__item:nth-child(2) .header-navigation__link {

  padding-left: 68px;
}

.header-navigation__item:nth-child(3) .header-navigation__link {
  padding-left: 17px;
}

.header-navigation__item:last-child .header-navigation__link {
  padding-left: 31px;
}

.header-navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-navigation__sub-link:hover,
.header-users-product__link:hover,
.header-users-authorization__link:hover,
.header-navigation__link:hover {
  opacity: 0.6;
}

.header-navigation__sub-link:active,
.header-users-product__link:active,
.header-users-authorization__link:active,
.header-navigation__link:active {
  opacity: 0.3;
}


.header-navigation__sub-list {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  height: 140px;
  width: 1100px;
  position: absolute;
  top: 20px;
  left: -60px;
  padding-left: 60px ;
  padding-top: 20px;
  background-color: #f7e296;
  z-index: 1;
}

.header-navigation__sub-link {
  display: block;
  width: 180px;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-transform: none;
  text-align: right;
}
.header-navigation__sub-item:first-child {
  text-align: left;
}


.header-navigation__item:hover .header-navigation__sub-list {
  display: flex;
}
/*Блок promo в index.html*/
.promo {
  width: 1160px;
  min-height: 186px;
  background-image: linear-gradient(to bottom, #f7e296 129px, transparent 129px);
}

.promo-slider__slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.promo-slider-content__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: 0.5px;
}

.promo-slider-content__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
}

.promo-info__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: lighter;
  line-height: 1.33;
  letter-spacing: 0.4px;
}

.promo-info__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.1px;
}

/*Блок products в index.html*/
.products {
  width: 1160px;
  flex-wrap: nowrap;
}

.products__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.products-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 260px;
  margin: 0;
  padding: 0;
}

.products__item {
  display: block;
  width: 160px;
}

.products__img {
  width: 160px;
  height: 160px;

}

.popular-img_bg_virtual-reality {
  background: #f7e296 url("../img/svg-images/popular-virtual-reality.svg") center no-repeat;
  background-size: 97px 55px;
}

.popular-img_bg_monopods-for-selfie {
  background: #f7e296 url("../img/svg-images/popular-monopods-for-selfie.svg") bottom center no-repeat;
  background-size: 86px 117px;
}

.popular-img_bg_action-cameras {
  background: #f7e296 url("../img/svg-images/popular-action-cameras.svg") center no-repeat;
  background-size: 71px 87px;
}

.popular-img_bg_fitness-bracelets {
  background: #f7e296 url("../img/svg-images/popular-fitness-bracelets.svg") center no-repeat;
  background-size: 107px 65px;
}

.popular-item-smart-watch {
  background: #f7e296 url("../img/svg-images/popular-smart-watch.svg") center no-repeat;
  background-size: 56px 98px;
}

.popular-item-quadrocopter {
  background: #f7e296 url("../img/svg-images/popular-quadrocopter.svg") center no-repeat;
  background-size: 132px 69px;
}

.products__item:active {
  opacity: 0.3;
}

/*Блок delivery в index.html*/
.delivery {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background-image: linear-gradient(transparent 40%, #e5e5e5 40%);
}

.delivery__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.delivery__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
}

.delivery__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
}

.delivery__pagination-slider {
  display: flex;
  flex-direction: column;
}

/*Блок brands в index.html*/
.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  min-height: 286px;
}

.brands__link {
  display: block;
  width: 260px;
  height: 100px;
}

/*Блок about-us в index.html*/
.about-us {
  display: flex;
  flex-wrap: nowrap;
  width: 1160px;
}

.about-us__content {
  width: 50%;
}

.about-us__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
}

.about-us__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.about-us__list-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
}

.about-us__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

/*Блок footer в index.html catalog.html*/
.footer {
  width: 100%;
  background-color: #464646;
  color: #ffffff;
}

.footer__logo {
  display: block;
  width: 164px;
  height: 36px;
  background: url("../img/logo-footer.png") no-repeat;
}
.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-navigation__item {
  display: inline;
}

.footer-navigation__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}

.footer-navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-navigation__text {
  font-style: normal;
}

.footer-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer .users-navigation {
  display: flex;
  justify-content: space-between;
}

.footer .users-authorization {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.footer .users-product {
  justify-content: flex-end;
  display: flex;
  width: 260px;
  flex-grow: 0;
}

.footer .users-authorization__item {
  display: inline;
}

.footer .users-product__item {
  display: inline;
}

.footer .users-navigation__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.7);
}

.footer .users-navigation__link:hover {
  color: #ffffff;
}

.footer .users-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__list {
  display: flex;
  justify-content: center;
  width: 160px;
  flex-grow: 1;
}

.social__list .social__link {
  margin-right: 23px;
}

.social__htmlacademy {
  align-self: flex-end;
}

/*Блок popup_write-us*/
.popup-write-us__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
}

.popup-write-us__textarea,
.popup-write-us__input {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
}

.popup-write-us__submit {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-align: center;
}

/*блок catalog страницы catalog.html*/
.catalog-title {
  display: flex;
  flex-direction: column;
}

.catalog-title__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-products__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.catalog-products__legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.catalog-products__link {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-products__name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

.catalog-products_price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.catalog-products__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.catalog-products__item {
  width: 50%;
  min-height: 445px;
  margin-top: 70px;
}

.catalog-products__figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog-products__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-products__link:active {
  color: #000000;
}

.catalog-pagination {
  display: flex;
}

.catalog-pagination-item__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 3.5px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.catalog-pagination-item:first-child .catalog-pagination-item__link,
.catalog-pagination-item:last-child .catalog-pagination-item__link,
.catalog-pagination-item:nth-child(2) .catalog-pagination-item__link {
  color: #000000;
}

.catalog-pagination-item:first-child .catalog-pagination-item__link:active,
.catalog-pagination-item:last-child .catalog-pagination-item__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Стиль для всех кнопок сайта*/
.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.catalog {
  width: 100%;
  background: linear-gradient(to right, #eee 0%, #eee 45%, #fff 50%, #fff 100%)
}

.catalog-title {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap
}

.catalog__header {
  width: 100%;
  background: linear-gradient(to right, #dbdbdb, #ebebeb)
}

.catalog__header .wrapper-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.wrapper-content > .catalog-products__caption {
  width: 330px;
}

.catalog-products__sort {
  display: flex;
  width: 972px;
  background-color: #ebebeb;
}

.catalog-products {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog-products__filter {
  width: 330px;
  background-color: #eee;
}

.catalog-products__content {
  width: 972px;
  background-color: #fff;
}
