@charset "utf-8";

/*Подключение шрифтов*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Обертка всех страниц*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
  font-family: "Open sans", "Arial", sans-serif;
  color: #000000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/*Сокрытие элементов сайта*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Сброс своист у всех ul что есть в разметке*/
.breadcrumbs,
.catalog-products__items,
.catalog-products__sort,
.catalog-pagination,
.header-users-authorization,
.header-users-product,
.header-navigation__list,
.header-navigation__sub-list,
.catalog-products__list,
.products-list,
.about-us__list,
.footer-users-authorization,
.footer-users-product,
.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Блок header в index.html и catalog.html*/

/*логотип в header и его состояния*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 1160px;
  min-height: 224px;
  background-image: linear-gradient(transparent 40px, #f7e296 40px);
}

.header__main-logo,
.header__logo {
  width: 164px;
  height: 36px;
  align-self: flex-start;
  background: url("../img/logo-header.svg") no-repeat;
  margin-left: 60px;
  margin-top: 21px;
  margin-bottom: 9px;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}


/*строка с менюшками поиска, логина, корзины*/
.header-users-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  min-height: 48px;
  margin-bottom: 39px;
  position: relative;
}

/*строка с осноновными услугами фирмы каталог, доставка и т.д.*/
.header-navigation {
  width: 1160px;
}

/*форма поиска в хедере*/
.header-search-form {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.header-search-form__button {
  display: none;
  min-width: 84px;
  padding: 13px;
  border: 2px solid black;
  background-color: inherit;
  color: black;
}

.header-search-form__button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-search-form__button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.header-search-form__input {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  width: 316px;
  height: 30px;
  background-color: inherit;
  margin-left: 60px;
  padding-left: 40px;
  border: 2px solid transparent;
}

.header-search-form__input:focus + .header-search-form__button {
  display: block;
}

.header-search-form__button:active {
  display: block;
}

.header-search-form__input:focus {
  border-bottom: 2px solid black;
}

.header-search-form::before {
  content: url("../img/svg-images/search-icon.svg");
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 3px;
  left: 63px;
}

/*меню авторизации пользователя в header*/
.header-users-authorization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 263px;
  position: relative;

}

.header-users-authorization__item {
  position: relative;
}

.header-users-authorization__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  padding-left: 19px;
}

.header-users-authorization__link_user-icon {
  padding-left: 30px;
}
.header-users-authorization__link_user-icon::after {
  content: url("../img/svg-images/header-user-icon.svg");
  width: 13px;
  height: 12px;
  position: absolute;
  top: -1px;
  left: 5px;
}

/*меню "продуктовой корзины" в header*/
.header-users-product {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  position: relative;
}

.header-users-product__item {
  min-width: 150px;
  position: relative;
}

.header-users-product__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
}

.header-users-product__link_compare-icon {
  margin-left: 47px;
}

.header-users-product__link_compare-icon::after {
  content: url("../img/svg-images/header-compare.svg");
  position: absolute;
  top: -1px;
  left: 27px;
  width: 10px;
  height: 10px;
}

.header-users-product__link_cart-icon {
  margin-left: 30px;
}

.header-users-product__link_cart-icon:after {
  content: url("../img/svg-images/header-cart.svg");
  position: absolute;
  top: -1px;
  left: 7px;
  width: 13px;
  height: 14px;
}

/*меню основной навигации по услугам*/
.header-navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
}

.header-navigation__item {
  position: relative;
  width: 210px;
  min-height: 12px;
}

.header-navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-navigation__item:hover .header-navigation__sub-list {
  display: flex;
}

.header-navigation__link_plus-icon::before {
  content: url("../img/svg-images/plus.svg");
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 230px;
  opacity: 0.3;
}

.header-navigation__item-margin {
  width: 225px;
  margin-left: 60px;
  margin-right: 250px;
}

.header-navigation__link_second-padding {
  padding-left: 68px;
}

.header-navigation__link_third-padding {
  padding-left: 17px;
}

.header-navigation__link_fourth-padding {
  padding-left: 31px;
}

/*выпадаюшие меню по сслылке "каталог товаров"*/
.header-navigation__sub-list {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 146px;
  width: 1100px;
  position: absolute;
  top: 20px;
  left: -60px;
  padding-left: 60px;
  padding-top: 20px;
  background-color: #f7e296;
  z-index: 99;
}

.header-navigation__sub-link {
  display: block;
  width: 180px;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.2px;
  text-transform: none;
  margin-right: 40px;
}

/*разные состояния сслылок в header нажатие(active), наведение(hover)*/
.header-navigation__sub-link:hover,
.header-users-product__link:hover,
.header-users-authorization__link:hover,
.header-navigation__link:hover {
  opacity: 0.6;
}

.header-navigation__sub-link:active,
.header-users-product__link:active,
.header-users-authorization__link:active,
.header-navigation__link:active {
  opacity: 0.3;
}

/*Блок promo в index.html*/
.promo {
  width: 1160px;
  min-height: 186px;
  background-image: linear-gradient(to bottom, #f7e296 115px, transparent 115px);
  position: relative;
  z-index: 1;
}

/*селектор слайдера*/
.promo-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative;
}

/*селектор слайда*/
.promo-slider__slide {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 1160px;
  min-height: 550px;
}

/*селектор изображения в слайде*/
.promo-img-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__img {
  margin-top: 5px;
  margin-left: -13px;
}

/*селектор изображения в слайде с обнуление отступа слева*/
.promo__img_margin {
  margin-left: 0;
}

/*селектор контейнер текстового содержимого слайда*/
.promo-slider-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*селектор заголовка слайда*/
.promo-slider-content__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 85px 0 0 21px;
  min-width: 400px;
}

/*селектор текста слайда*/
.promo-slider-content__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
  min-width: 490px;
  margin: 20px 0 41px 21px;
}

/*селектор кнопки  слайда*/
.promo__button {
  display: block;
  width: 177px;
  margin: 0 0 50px 21px;
  padding: 10px 21px 10px 24px;
  text-align: center;
}

/*селекторы таблицы с информацией о товаре в слайде*/
.promo-info {
  padding: 0;
  border-collapse: collapse;
  width: 500px;
  text-align: left;
  margin: 0 0 0 21px;
}

.promo-info__row {
  margin: 0;
  padding: 0;
}

.promo-info__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 35.5px;
  line-height: 1.33;
  letter-spacing: 0.4px;
}

.promo-info__text_first-width,
.promo-info__caption_first-width {
  width: 50px;
}

.promo-info__text_second-width,
.promo-info__caption_second-width {
  width: 139px;
}

.promo-info__caption_third-width,
.promo-info__text_third-width {
  width: 200px;

}

.promo-info__text {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.1px;
  padding-top: 5px;
}

/*декаративная цифра номера слайда , большая такая в правом углу*/
.promo-slider__slide_1::after {
  content: "01";
  position: absolute;
  top: -10px;
  right: 65px;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
  z-index: -1;
}

.promo-slider__slide_2::after {
  content: "02";
  position: absolute;
  top: -15px;
  right: 65px;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
  z-index: -1;
}

.promo-slider__slide_3::after {
  content: "03";
  position: absolute;
  top: -10px;
  right: 65px;
  width: 166px;
  height: 131px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.8px;
  color: #ffffff;
  z-index: -1;
}

/*Полоса декоротивная в правом углу*/
.promo-slider__slide::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 600px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

/*селектор переключатели слайда*/
.promo-pagination-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 80px;
  height: 14px;
  top: 330px;
  right: 82px;
  z-index: 2;
}

.promo-pagination-slider__label {
  display: block;
  width: 14px;
  height: 14px;
  background: url("../img/svg-images/slider-button-empty.svg") no-repeat;
  background-size: 14px 14px;
  cursor: pointer;
}

.promo-pagination__input_third:checked ~ .promo-pagination-slider .promo-pagination-slider__label_third,
.promo-pagination__input_second:checked ~ .promo-pagination-slider .promo-pagination-slider__label_second,
.promo-pagination__input_firs:checked ~ .promo-pagination-slider .promo-pagination-slider__label_firs {
  background: url("../img/svg-images/slider-button.svg") no-repeat;
  background-size: 14px 14px;
}

.promo-pagination__input_third:not(:checked) ~ .promo-pagination-slider .promo-pagination-slider__label_third,
.promo-pagination__input_second:not(:checked) ~ .promo-pagination-slider .promo-pagination-slider__label_second,
.promo-pagination__input_firs:not(:checked) ~ .promo-pagination-slider .promo-pagination-slider__label_firs {
  background: url("../img/svg-images/slider-button-empty.svg") no-repeat;
  background-size: 14px 14px;
}

.promo-pagination__input_firs:checked ~ .promo-slider .promo-slider__slide_1 {
  display: flex;
}

.promo-pagination__input_second:checked ~ .promo-slider .promo-slider__slide_2 {
  display: flex;
}

.promo-pagination__input_third:checked ~ .promo-slider .promo-slider__slide_3 {
  display: flex;
}

/*Блок products в index.html*/
.products {
  width: 1160px;
  flex-wrap: nowrap;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 260px;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 64px;
}

.products__item {
  display: flex;
  align-items: flex-end;
  width: 160px;
  height: 241px;
}

.products__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  position: relative;
  width: 160px;
  min-height: 45px;
  align-items: flex-end;
}

.popular__link_bg_virtual-reality::before {
  content: "";
  position: absolute;
  top: -194px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-virtual-reality.svg") center no-repeat;
  background-size: 97px 55px;
}

.popular__link_bg_monopods-for-selfie::before {
  content: "";
  position: absolute;
  top: -194px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-monopods-for-selfie.svg") 38px 41px no-repeat;
  background-size: 86px 117px;
}

.popular__link_bg_action-cameras::before {
  content: "";
  position: absolute;
  top: -195px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-action-cameras.svg") 50px 38px no-repeat;
  background-size: 71px 87px;
}

.popular__link_bg_fitness-bracelets::before {
  content: "";
  position: absolute;
  top: -195px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-fitness-bracelets.svg") 28px 50px no-repeat;
  background-size: 107px 65px;
}

.popular__link_bg_smart-watch::before {
  content: "";
  position: absolute;
  top: -195px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-smart-watch.svg") 55px 32px no-repeat;
  background-size: 56px 98px;
}

.products__link_bg_quadrocopter::before {
  content: "";
  position: absolute;
  top: -195px;
  left: 1px;
  width: 160px;
  height: 160px;
  background: #f7e296 url("../img/svg-images/popular-quadrocopter.svg") 13px 49px no-repeat;
  background-size: 132px 69px;
}

.products__item:active {
  opacity: 0.3;
}

/*Блок delivery в index.html*/
.delivery {
  min-height: 388px;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
  padding-bottom: 5px;
}

/*Обертка для центровка блока*/
.delivery .wrapper-content {
  display: flex;
  flex-direction: row;
  margin: 73px auto 0 auto;
  width: 1160px;
  min-height: 300px;
  position: relative;
}

.delivery__pagination-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 285px;
  position: relative;
  z-index: 1;
}

/*кнопки переключения слайдера (label)*/
.delivery__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.delivery__label_size-delivery {
  padding: 8px 18px 8px 21px;
  margin-top: 7px;
  margin-bottom: 26px;
}

.delivery__label_size-guarantee {
  padding: 8px 21px 8px 25px;
  margin-bottom: 27px;
}

.delivery__label_size-credit {
  padding: 8px 35px 8px 39px;
}

/*контент слайдера доставки*/
.delivery__slider {
  display: flex;
  align-content: center;
  width: 590px;
  margin: 0;
  padding: 0;
}

.delivery__slide {
  display: none;
}

.delivery__pagination-slider::before {
  content: "";
  position: absolute;
  height: 318px;
  width: 7px;
  top: -75px;
  left: 278px;
  background-color: #000000;
}

.delivery__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  padding-left: 119px;
  margin: 0 0 31px 0;
}

.delivery__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #464646;
  margin: 0;
  padding-left: 118px;
}

.delivery__slide_1::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 45px;
  width: 156px;
  height: 186px;
  background: url("../img/svg-images/delivery.svg") no-repeat;
}

.delivery__slide_2::before {
  content: "";
  position: absolute;
  top: -13px;
  right: 45px;
  width: 171px;
  height: 194px;
  background: url("../img/svg-images/warranty.svg") no-repeat;
}

.delivery__slide_3::before {
  content: "";
  position: absolute;
  top: -13px;
  right: 45px;
  width: 156px;
  height: 186px;
  background: url("../img/svg-images/credit.svg") no-repeat;
}

.delivery__input_third:checked ~ .delivery__pagination-slider .delivery__label_size-credit,
.delivery__input_second:checked ~ .delivery__pagination-slider .delivery__label_size-guarantee,
.delivery__input_firs:checked ~ .delivery__pagination-slider .delivery__label_size-delivery {
  color: #f0c52e;
}

.delivery__input_third:checked ~ .delivery__pagination-slider .delivery__label_size-credit::after,
.delivery__input_second:checked ~ .delivery__pagination-slider .delivery__label_size-guarantee::after,
.delivery__input_firs:checked ~ .delivery__pagination-slider .delivery__label_size-delivery::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 278px;
  background-color: #000000;
  z-index: -1;
  height: 100%;
}

.delivery__input:not:checked + .delivery__label::after {
  display: none;
}

.delivery__input_firs:checked ~ .delivery__slider .delivery__slide_1 {
  display: block;
}

.delivery__input_second:checked ~ .delivery__slider .delivery__slide_2 {
  display: block;
}

.delivery__input_third:checked ~ .delivery__slider .delivery__slide_3 {
  display: block;
}

/*Блок brands в index.html*/
.brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  min-height: 170px;
}

.brands__link {
  width: 260px;
  height: 100px;
  opacity: 0.3;
  margin-top:94px;
  margin-bottom: 34px;
}

.brands__link:hover {
  opacity: 1;
}

.brands__link_img_dji {
  background: url("../img/brands/logo-dji-grayscale.png") no-repeat;
}

.brands__link_img_dji:hover {
  background: url("../img/brands/logo-dji.jpg") no-repeat;
}

.brands__link_img_spgadgets {
  background: url("../img/brands/logo-spgadgets-grayscale.png") no-repeat;
}

.brands__link_img_spgadgets:hover {
  background: url("../img/brands/logo-spgadgets.jpg") no-repeat;
}

.brands__link_img_gopro {
  background: url("../img/brands/logo-gopro-grayscale.png") no-repeat;
}

.brands__link_img_gopro:hover {
  background: url("../img/brands/logo-gopro.jpg") no-repeat;
}

.brands__link_img_vive {
  background: url("../img/brands/logo-vive-grayscale.png") no-repeat;
}

.brands__link_img_vive:hover {
  background: url("../img/brands/logo-vive.jpg") no-repeat;
}

/*Блок about-us в index.html*/
.about-us {
  display: flex;
  flex-wrap: nowrap;
  width: 1160px;
  margin-bottom: 20px;
  min-height: 693px;
  position: relative;
}

.about-us__content {
  width: 50%;
}

/*общии стили для блока "о нас" */
.about-us__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
}

.about-us__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.about-us__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

/*стили выравнивания для левого секции блока "о нас"*/
.about-us__content_padding-left .about-us__caption {
  padding: 0;
  margin: 110px 0 45px 0;
  text-align: left;
}

.about-us__content_padding-left .about-us__text {
  padding: 0;
  margin: 0 0 30px 0;
  text-align: left;
}

.about-us__list {
  margin: 66px 0 61px 36px;
  padding: 0;
}

.about-us__list-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  position: relative;
}

.about-us__list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: -37px;
  width: 5px;
  height: 5px;
  border: 2px solid #000000;
  border-radius: 50%;
  filter: grayscale(100%);
  opacity: 0.2;
}

.about-us__button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.about-us__content_padding-left .about-us__button {
  padding: 2px 23px 3px 20px;
}

.about-us__content_padding-left::before {
  content: "";
  display: block;
  position: absolute;
  top: 58px;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000;
}

/*стили выравнивания для правого секции блока  "о нас" */
.about-us__content_padding-right .about-us__caption {
  padding: 0 0 0 18px;
  margin: 110px 0 45px 0;

}

.about-us__content_padding-right .about-us__text {
  padding: 0 0 0 18px;
  margin: 0 0 37px 0;
}

.about-us__img {
  margin-left: 19px;
  margin-bottom: 75px;
}

.about-us__content_padding-right .about-us__button {
  margin-left: 19px;
  padding: 2px 43px 3px 40px;
}

.about-us__content_padding-right::before {
  content: "";
  display: block;
  position: absolute;
  top: 58px;
  left: 600px;
  height: 7px;
  width: 80px;
  background-color: #000000;
}

/*Блок footer в index.html catalog.html*/
.footer {
  width: 100%;
  background-color: #464646;
  color: #ffffff;
  min-height: 323px;
}

.footer .wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 1160px;
  min-height: 260px;
  margin: 0 auto;
}

.footer__index-logo,
.footer__logo {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  width: 164px;
  height: 36px;
  background: url("../img/logo-footer.svg") no-repeat;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 36px;
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.footer-navigation__item {
  margin-right: 35px;
  padding-left: 5px;
}

.footer-navigation__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  flex-shrink: 0;
}

.footer-navigation__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-navigation__text {
  font-style: normal;
}

.footer-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-users-navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 63px;

}

.footer-users-authorization {
  display: flex;
  justify-content: flex-start;

}

.footer-users-product {
  display: flex;
  justify-content: center;
}

.footer-users-product__item {
  position: relative;
  margin-left: 62px;
}

.footer-users-product__link,
.footer-users-authorization__link,
.footer-users-navigation__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.footer-users-authorization__link {
  padding-left: 18px;
}
.footer-users-authorization__link_user-icon {
  padding-left: 30px;
}
.footer-users-product__link_compare-icon::before {
  content: url("../img/svg-images/footer-compare.svg");
  position: absolute;
  top: -5px;
  left: -19px;
  width: 10px;
  height: 10px;
}

.footer-users-product__link_cart-icon::before {
  content: url("../img/svg-images/footer-cart.svg");
  position: absolute;
  top: -5px;
  left: -21px;
  width: 13px;
  height: 15px;
}

.footer-users-authorization__link_user-icon::before {
  content: url("../img/svg-images/footer-user-icon.svg");
  position: absolute;
  top: -5px;
  left: 3px;
  width: 13px;
  height: 15px;
}

.footer-users-navigation__link:hover {
  color: #ffffff;
}

.footer-users-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
  width: 100%;
  position: relative;
}

.social__list {
  display: flex;
  justify-content: center;
  width: 160px;
  flex-grow: 1;
  padding-left: 50px;
}

.social__list::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social__link {
  margin-right: 23px;
}

.social__link {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social__htmlacademy:hover,
.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.social__link_bg_twitter {
  background: url("../img/svg-images/twitter.svg") no-repeat;
}

.social__link_bg_instagram {
  background: url("../img/svg-images/instagram.svg") no-repeat;
}

.social__link_bg_facebook {
  background: url("../img/svg-images/facebook.svg") no-repeat;
}

.social__htmlacademy {
  display: block;
  width: 27px;
  height: 37px;
  background: url("../img/svg-images/logo-html.svg") no-repeat;
}

.social__htmlacademy:active {
  opacity: 0.1;
}

/*блок catalog страницы catalog.html*/
.catalog {
  width: 100%;
  background: linear-gradient(to right, #eee 0%, #eee 45%, #fff 50%, #fff 100%)
}

/*Заголовое и хлебные крошки, а так же их состояния active\hover*/
.catalog-title {
  display: flex;
  flex-direction: column;
  min-height: 179px;
  width: 1160px;
}

.catalog-title__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.5px;
  min-width: 500px;
  margin: 40px 0 25px 60px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: 60px;
  min-width: 381px;
}

.breadcrumbs__item {
  margin-right: 38px;
  position: relative;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: -25px;
  background: url("../img/svg-images/nav-arrow.svg") no-repeat;
}

.breadcrumbs__item:last-child > .breadcrumbs__link::before {
  display: none;
}
.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

/*секция с товарами*/

.catalog-title {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap
}

.catalog__header {
  width: 100%;
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 45%, #ebebeb 50%, #ebebeb 100%)
}

.catalog__header .wrapper-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  position: relative;
  min-height: 70px;
}

.wrapper-content > .catalog-products__caption {
  margin: 0;
  padding: 25px 176px 27px 59px;
  width: 93px;
}

.catalog-products__caption {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.catalog-products__sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 972px;
  background-color: #ebebeb;
}

.catalog-products__sort .catalog-products__caption {
  margin-left: 71px;
  margin-right: 50px;
  padding: 0;
  flex-shrink: 0;
}

.catalog-products__header-text {
  margin-right: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  flex-shrink: 0;
}

.catalog-products__header-link {
  font-size: 14px;
  line-height: 1.25;
  color: #000000;
  opacity: 0.3;
}

.catalog-products__header-link:hover {
  opacity: 0.6;
}

.catalog-products__header-link:active {
  opacity: 1;
}

.catalog-products__header-text_select {
  color: #000000;
}

.catalog__header-arrow-bar {
  display: flex;
  justify-content: space-between;
  width: 42px;
  height: 11px;
  position: absolute;
  top: 32px;
  right: 0;
}

.catalog__arrow-up {
  border: none;
  background: url("../img/svg-images/icon-up-dir.svg") no-repeat;
  opacity: 0.2;
  cursor: pointer;
}

.catalog__arrow-down {
  border: none;
  background: url("../img/svg-images/icon-down-dir.svg") no-repeat;
  opacity: 0.2;
  cursor: pointer;
}

.catalog__arrow_active {
  opacity: 1;
}

.catalog__arrow-up:hover,
.catalog__arrow-down:hover {
  opacity: 0.4;
}

.catalog__arrow-up:active,
.catalog__arrow-down:active {
  opacity: 1;
}

/*фильтр продуктов*/
.catalog-products__filter {
  width: 383px;
  background-color: #eee;
}

.catalog-products__fieldset {
  border: none;
  margin-left: 46px;
  position: relative;
}

.catalog-products__fieldset_price {
  margin-top: 69px;
  position: relative;
}

.catalog-products__legend {
  border-top: 2px outset #000000;
  width: 201px;
  padding-top: 11px;
  border-collapse: collapse;
}

.range {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
  margin-top: 29px;
  margin-bottom: 10px;
}

.range__filling {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range__item-left {
  position: absolute;
  top: -10px;
  left: 0;
  width: 24px;
  height: 22px;
  background: url("../img/svg-images/filter-button.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.range__item-right {
  position: absolute;
  top: -10px;
  left: 110px;
  width: 24px;
  height: 22px;
  background: url("../img/svg-images/filter-button.svg") no-repeat;
  border: none;
  cursor: pointer;
}

.catalog-products__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-products__text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 12px;
  border: none;
  background-color: inherit;
}

.catalog-products__fieldset_color {
  margin-top: 24px;
}

.catalog-products__label-chekbox {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
  cursor: pointer;
}

.catalog-products__list {
  margin-top: 13px;
  margin-left: 40px;
}

.catalog-products__list-item {
  position: relative;
}

.catalog-products__chekbox:checked + .catalog-products__label-chekbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 8px;
  left: -40px;
  background: url("../img/svg-images/checkbox-on.svg") no-repeat;
}

.catalog-products__chekbox:not(:checked) + .catalog-products__label-chekbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  top: 8px;
  left: -40px;
  background: url("../img/svg-images/checkbox-off.svg") no-repeat;
}

.catalog-products__chekbox:disabled + .catalog-products__label-chekbox {
  opacity: 0.25;
}

.catalog-products__label-chekbox:hover {
  opacity: 0.6;
}

.catalog-products__fieldset_bluetooth {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-products__fieldset_bluetooth .catalog-products__legend {
  margin-bottom: 12px;
}

.catalog-products__label-radio {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.1px;
  color: #000000;
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

.catalog-products__radio:checked + .catalog-products__label-radio::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  left: -40px;
  background: url("../img/svg-images/radio-on.svg") no-repeat;
}

.catalog-products__radio:not(:checked) + .catalog-products__label-radio::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  left: -40px;
  background: url("../img/svg-images/radio-off.svg") no-repeat;
}

.catalog-products__radio:disabled + .catalog-products__label-radio {
  opacity: 0.2;
}

.catalog-products__label-radio:hover {
  opacity: 0.6;
}

.catalog-products__chekbox:focus + .catalog-products__label-chekbox,
.catalog-products__radio:focus + .catalog-products__label-radio {
  opacity: 1;
}

.catalog__filter-button {
  margin-top: 29px;
  margin-left: 58px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  background-color: inherit;
}

.catalog-products__link {
  font-size: 14px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-products {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog-products__content {
  width: 972px;
  background-color: #fff;
}

.catalog-products__legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
}

/*стили самих товаров на странице*/

.catalog-products__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
  margin-left: 72px;
  margin-bottom: 35px;
}

.catalog-products__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 360px;
  min-height: 458px;
  position: relative;
  margin-top: 48px;
}

.catalog-products__figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.catalog-products__name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.2px;
  width: 265px;
  padding: 0;
  cursor: pointer;
}

.catalog-products__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464646;
}

.catalog-products__figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catalog-products_item_status::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 27px;
  width: 56px;
  height: 56px;
  opacity: 0.1;
  border: solid 2px #000000;
  border-radius: 50%;
}

.catalog-products_item_status::after {
  content: "NEW";
  position: absolute;
  top: 48px;
  right: 38px;
  opacity: 0.2;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.61;
  letter-spacing: 0.7px;
}

.catalog-products__hover {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 60px;
  position: absolute;
  top: 180px;
  left: 75px;
}

.catalog-products__button {
  padding-left: 40px;
}

.catalog-products__link-comparisons {
  width: 100%;
  align-self: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.77;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.catalog-products__link-comparisons:hover {
  opacity: 1;
}

.catalog-products__link-comparisons:active {
  opacity: 0.2;
}

.catalog-products__item:hover .catalog-products__hover {
  display: flex;
}

.catalog-products__item:hover .catalog-products__img {
  opacity: 0.7;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 760px;
  min-height: 72px;
  margin-left: 72px;
  margin-bottom: 76px;
  background-color: #ebebeb;
}

.catalog-pagination-item {
  margin-right: 27px;
  color: #000000;
  opacity: 0.3;
}

.catalog-pagination-item_backward {
  margin-left: 0;
  margin-right: 205px;
  opacity: 1;
}

.catalog-pagination-item_backward .catalog-pagination-item__link {
  display: block;
  padding: 25px 30px 23px 28px;
}

.catalog-pagination-item_forward {
  margin-left: 175px;
  opacity: 1;
}

.catalog-pagination-item_forward .catalog-pagination-item__link {
  display: block;
  padding: 25px 24px 23px 25px;
}

.catalog-pagination-item_backward:hover {
  background-color: #d9d9d9;
}

.catalog-pagination-item_backward:active {
  opacity: 0.3;
  background-color: #d9d9d9;
}

.catalog-pagination-item_forward:active {
  opacity: 0.3;
  background-color: #d9d9d9;
}

.catalog-pagination-item_forward:hover {
  background-color: #d9d9d9;
}

.catalog-pagination-item_selected {
  opacity: 1;
}

.catalog-pagination-item_standart:hover {
  opacity: 0.6;
}

.catalog-pagination-item_standart:active {
  opacity: 1;
}

.catalog-products__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-products__link:active {
  color: #000000;
}

.catalog-pagination-item__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 3.5px;
  color: inherit;
  text-transform: uppercase;
}

/*Стиль для всех кнопок сайта*/
.delivery__label,
.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.27;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.delivery__label::after,
.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 42%;
  width: 100%;
  height: 7px;
  z-index: -1;
  background: #f0c52e;
}

.delivery__label:hover,
.button:hover {
  background: #f0c52e;
}

.button:active {
  opacity: 0.3;
}

.popup {
  position: fixed;
  top: 130px;
  left: 50%;
  margin-left: -480px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 3;
}

/*Всплывающий блок popup_write-us при нажатии кнопки "Написать нам" */

.popup_write-us {
  width: 960px;
  height: 553px;
  background-color: #ffffff;
}

.popup_map {
  width: 960px;
  height: 559px;
}

.popup_map .popup__button-close {
  opacity: 0.5;
}

.popup__button-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background: url("../img/svg-images/modal-close.svg");
  border: none;
  cursor: pointer;
  z-index: 3;
}

.popup-write-us__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  height: 380px;
  margin: 88px auto;
}

.popup-write__wrapper-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  height: 100px;
}

.popup-write__wrapper-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 760px;
  height: 210px;
}

.popup-write-us__label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.4;
}

.popup-write__wrapper-text .popup-write-us__label {
  margin-bottom: 10px;
}

.popup-write__wrapper-textarea .popup-write-us__label {
  margin-bottom: 10px;
}

.popup-write-us__input {
  width: 340px;
  height: 50px;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(70, 70, 70, 0.4);
  padding-left: 20px;
  margin: 0;
  background-color: #f2f2f2;
  outline: none;
  border: 3px solid transparent;
}

.popup-write-us__textarea:hover,
.popup-write-us__input:hover {
  opacity: 0.8;
}

.popup-write-us__textarea:focus,
.popup-write-us__input:focus {
  background-color: #ffffff;
  border: 3px solid  #f0c52e;
  opacity: 1;
  color: rgba(70, 70, 70, 1);
}

.popup-write-us__textarea {
  margin: 0;
  height: 156px;
  background-color: #f2f2f2;
  resize: none;
  font-size: 14px;
  padding-left: 20px;
  line-height: 1.25;
  opacity: 0.5;
  color: rgba(70, 70, 70, 0.4);
  outline: none;
  border: 3px solid transparent;
}

.popup-write-us__button {
  border: none;
  background-color: inherit;
  padding: 2px 36px 2px 34px;
}

.popup__iframe-map {
  position: relative;
  z-index: 2;
  border: none;
}

.popup-map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

/*анимация форм write us*/

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 3s;
}

/*анимация появления карты*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
